body {
    background-color: #051539;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

p{
    font-size: 20px;
    line-height: 33px;
}

h2 {
    font-size: 30px;
}






.top-header {
    display: flex;
    margin-bottom: 10%;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-left: 30%;
    color: whitesmoke;
    word-spacing: 9px;
}

.clr-word {
    color: orange;
}






section {
    margin-bottom: 20%;
}

.header {
    background-image: url(images/bg/firs-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.flx-contant {
    display: flex;
    
}

.box {
    margin-left: 10%;
    width: 100%;

}

.hero-txt {
    font-size: 40px;
}

#box-1 {
    margin-top: 7%;
    
}

.box p {
    margin-bottom: 7%;
}

.home-img {
    width: 90%;
}

.btn {
    font-weight: 700;
    color: #051539;
    text-decoration: none;
    background-image: linear-gradient(to right top, #2ab8c2, #00cab8, #00da99, #5ce567, #a8eb12);
    padding: 10px 40px;
    border-radius: 10px;
    
}





.about {
    background-image: url(images/bg/sec-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}



#about-box {
    margin-right: 10%;
}







.recipie-header {

    text-align: center;
    padding: 0 19%;
}

.recipie-img {
    width: 100%;
    height: 50%;
    border-radius: 13px;
}

.columb{
    margin: 5% 4%;
    background-color: #010E29;
    padding: 10px 15px;
    border-radius: 13px;
    box-shadow: 5px 5px 40px black;

}

.qoute {
    margin-top: 25%;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}

.qoute h2 {
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: #FFD164;
}







footer {

    text-align: center;
    background-color: #010E29;
    padding: 5%;
}